//  Unslider 2 has navigation styles pre-designed. You can turn it off here.
$unslider-dot-navigation: false;
$unslider-dot-colour: #fff;

//  Unslider 2 has navigation styles pre-designed. You can turn it off here.
$unslider-transition-function: cubic-bezier(.42,0,.58,1);

// Set a namespace for Unslider
$unslider-namespace: 'unslider';